[submodule "bundle/fugutive"]
	path = bundle/fugutive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-railscasts"]
	path = bundle/vim-railscasts
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/irblack"]
	path = bundle/irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "bundle/wombat"]
	path = bundle/wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule "bundle/bundler"]
	path = bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/rake"]
	path = bundle/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/slime"]
	path = bundle/slime
	url = git://github.com/jpalardy/vim-slime.git
